@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Inter&family=Maven+Pro&family=Montserrat:wght@500;600&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: 'poppins', sans-serif; */
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Righteous', cursive;
}

.hero {
  /* background: #1d2026; */
  background-image: url(https://wallpapercave.com/wp/wp10907590.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  color: #fff;
  position: relative;
}

nav img {
  width: 75px;
  height: 100px;
}

/* ==nav== */
nav {
  font-size: 3vh;
  display: flex;
  align-items: center;
  padding: 1px 8%;
  background-color: rgb(64, 44, 8);
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;

}

.text-container h3 {
  font-weight: 500;
  font-size: 30px;

}

.text-container {
  max-width: 600px;
  margin-top: 7%;
  margin-left: 10%;
}

.text-container h1 {
  font-size: 120px;
  font-weight: 400;
}

.image-grid {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  margin-top: 10vh;

}

.image-item {
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

.image-item img:hover {
  opacity: 1;
}

.image-item img {
  border-radius: 20px;
  width: 60vh;
  opacity: 0.7;
  height: 60vh;
  height: auto;
}

.image-item p {
  margin-top: 10px;
  font-size: 16px;
}


form {
  margin-top: 5vh;
margin-left: 110vh;
  max-width: 800px;
  padding: 50px;
  background-color: rgb(64, 44, 8);
  /* border-radius: 5px; */
  border-radius: 50px;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 150px;
}

button[type="submit"] {
  background-color: orange;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: brown;
}

footer {
  background-color: rgb(64, 44, 8);
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 23%;
}